body {
 
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --font-family: 'Inter', sans-serif;
}

#container{
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  background: #F55A5A;
  padding: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}

